{{!-- TODO: Add css grid styling --}}
<!DOCTYPE html>
<html lang="en">
  {{> head}}
<body>
  <h1>Login Page Works!</h1>

  <form>
      <label for="username">Username</label>
      <input type="text" placeholder="username">
  
      <label for="password">Password</label>
      <input type="password" placeholder="password">
  </form>
  <button type="button" id="btn-login">Login</button>

  {{> scripts}}
</body>
</html>